<div *ngIf="isSellerSelected" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="property-selected-detail-background">
<div class="container property-detail-container">
  <h3 class="property-detail-h3 heading-nestimate">{{title}} {{unNamed | shortName}}</h3>
  <div class="wrapper-detail-container">
    <div id="demo">
      <img  src="assets/Images/single-nestimate.jpg" class="match-images">
    </div>


    <div class="streetname">
      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Buyer Price Range</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">&pound;{{MinAmount}} - &pound;{{PriceRange}}</mat-card-subtitle>
      </mat-card>
      
      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Post Code</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{Lookingpostcode}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Street Name</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{LookingStreetname}}</mat-card-subtitle>
      </mat-card>


   <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Buying Position</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{Position}}</mat-card-subtitle>
      </mat-card>


      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Financial Position</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{FinancialPosition}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Property type</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{PropertyType}}</mat-card-subtitle>
      </mat-card>
      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">No of Bedrooms</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{Roomsmax}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Ownership</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{ownership}}</mat-card-subtitle>
      </mat-card>
      
      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Property Condition</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{Conditions}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">No of Bathrooms</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{Maxbathroom}} </mat-card-subtitle>
      </mat-card>


      <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">No of Reception Rooms</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{Maxreception}}</mat-card-subtitle>
      </mat-card>


      <!-- <mat-card class="Mat-card-div">
        <mat-card-title class="details-p-headings heading-nestimate">Property Features</mat-card-title>
        <mat-card-subtitle class="details-output-p paragraph-color">{{features}}</mat-card-subtitle>
      </mat-card> -->
    </div>
    <div class="selected-button m-3">
      <button mat-raised-button color="primary" (click)="backClicked()">Back</button>
      <button mat-raised-button color="primary"(click)="Overlayopen()" *ngIf="expressed=='false'" >Express Interest</button>
      <!-- <button mat-raised-button color="primary"(click)="Disablebutton" *ngIf="datastored">You have</button> -->
    </div>
  </div>
</div>

</div>

<div class="continue-form" *ngIf="overlay">

  <div class="continue-form-data">
  <div class="nestimate-logo">
    <img src="../../../../assets/Images/single-nestimate.jpg" class="nestimate-logo">

  </div>
  <div class="continue-text">
    <p class="overlay-text">Thank you  for expressing</p>

    <p class="overlay-text-third">interest in this buyers Nestimate.Please Sit back while we notify the buyer and await their rsponse.If they confirm their interest  you will be required to select a local estate agent who will contact both parties and start the process </p>
  </div>
  <div class="continue-button">

    <div class="continue-button-container" (click)="submitForm()">
      OK
    </div> 
 <div class="continue-button mt-2" (click)="continueClose()">
    
    <div class="continue-button-container">
      CANCEL
    </div> 
  </div>
</div>

</div>
