<!-- Loading spinner -->
<div *ngIf="isLoading" class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  
  
  <!--Login-Form-->
  
  <div class="continue-form" 
  *ngIf="overlay">
    <div class="nestimate-logo">
      <img src="../../../../assets/Images/single-nestimate.jpg" class="nestimate-logo">
  
    </div>
    <div class="continue-text">
      <p class="overlay-text">Thanks for registering!</p>
      <p class="overlay-text">Next Step: Register your home  reuirements and see what’s possible. Complete the questionnaire to create your Nestimate.
      </p>
  
      <p class="overlay-text-third">
        Based on the answers provided by you on the questionnaire, our system will match the most relevant home owner created Nestimates with yours.
        Once you've finished, sit back, relax and let us do the hard work for you!</p>
    </div>
    <div class="continue-button" (click)="continueClose()">
      <div class="continue-button-container">
        CONTINUE
      </div>
  
    </div>
  
  
  </div>
  <div class="social-login text-center" *ngIf="!isLoggedIn">
    <mat-card class="sign-in-main" *ngIf="!newUser">
      <div class="user-cross">
        <h4 class="heading-nestimate">Login</h4>
  
      </div>
      <div class="social-button mt-4">
        <button type="button" class="btn btn-facebook " (click)="facebookLogin()">
          Facebook
        </button>
        <button type="button" class="btn btn-google ml-4" (click)="googleSignup()">
          Google+
        </button>
      </div>
      <div class="input-group mb-3 mt-3"></div>
       <form (keydown.enter)="save()">
  
        <div class="form-group has-search">
          <span class="fa fa-envelope-o form-control-feedback"></span>
          <input type="text" class="form-control custom-field" type="email" name="emails"  #userEmailLogin  [(ngModel)]="emails" placeholder="Enter Email">
        </div>
   
        <div class="form-group has-search">
          <span class="fa fa-lock form-control-feedback"></span>
          <input type="password" class="form-control custom-field" name="passs"  #userPasswordLogin type="password" [(ngModel)]="passs" placeholder="Enter Password">
        </div>
  
  
  
  
  
  
      
   
    </form>
      <div class="input-group-prepend other-option">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
      <button type="button" class="btn btn-social-login" (click)="signIn(userEmailLogin.value, userPasswordLogin.value)">
        Login
      </button>
      <p class="dont-have-account pt-2 heading-nestimate" id="#dont-have-account" (click)="NewUser()">Don't have an account? <span class="hyper outputText">Sign up</span></p>
    </mat-card>
    <mat-card class="mt-4 sign-up-main" *ngIf="newUser">
  
      <div class="sign-up">
        <div class="signup-heading">
  
          <div class="user-cross">
            <h4 class="heading-nestimate">Sign up</h4>
  
          </div>
        </div>
        <div class="social-button mt-2">
          <button type="button" class="btn btn-facebook " (click)="facebookLogin()">
            Facebook
          </button>
          <button type="button" class="btn btn-google ml-4" (click)="googleSignup()">
            Google+
          </button>
        </div>
        <div class="input-group mb-3 mt-3">
          <form (keydown)="keyDownFunction($event)">
  
            <div class="form-group has-search">
              <span class="fa fa-user-circle-o form-control-feedback"></span>
              <input type="text" class="form-control custom-field" placeholder="Full Name" name="name"  [(ngModel)]="name" #displayName>
            </div>
       
            <div class="form-group has-search">
              <span class="fa fa-envelope-o form-control-feedback"></span>
              <input  class="form-control custom-field" type="email" placeholder="Email" #userEmailRegister type="email" name="email" [(ngModel)]="email">
            </div>
  
  
            <div class="form-group has-search">
              <span class="fa fa-lock form-control-feedback"></span>
              <input  class="form-control custom-field" placeholder="Password" #userPasswordRegister type="password" name="password"
              [(ngModel)]="password">
            </div>
         
          </form>
        </div>
  
  
        <section class="example-section property-con-form">
  
          <mat-checkbox class="example-margin heading-nestimate" value="Email">Email</mat-checkbox>
          <mat-checkbox class="example-margin heading-nestimate" value="SMS">SMS</mat-checkbox>
          <mat-checkbox class="example-margin heading-nestimate" value="Post">Post</mat-checkbox>
          <mat-checkbox class="example-margin heading-nestimate" value="All">Email,SMS and Post from acrefully
            selected<br> third port
          </mat-checkbox>
          <label for="text" class="heading-nestimate ">By clicking the sms box,you agreeing to recieve"</label>
          <label for="text" class="heading-nestimate policy">By clicking below to register, you confirm that you agree to our<span routerLink="/terms"> Terms & Conditions </span>and you have read and understood our <span routerLink="/PrivacyPolicy">Privacy Policy</span> </label>
        </section>
  
        <button type="button" class="btn btn-social-login"
          (click)="signUp(displayName.value,userEmailRegister.value,userPasswordRegister.value)">
          Sign Up
        </button>
     <p class="dont-have-account pt-2 heading-nestimate" (click)="OldUser()">Already have an account?
      <span class="hyper outputText">Sign In</span></p> 
      </div>
  
    </mat-card>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  <!--Login-form-end-->
  
  
  <form  *ngIf="isLoggedIn">
    <mat-tab-group #matgroup class="form-tab-conatiner" [selectedIndex]="selectedIndex">
      <mat-tab label="Personal Details " class="tabs-align-padding">
        <div class="tab-pane active tabs-align-padding" role="tabpanel" id="step1">
          <mat-card class="card-margin background-new-form">
            <mat-card-title class="mat_card_title">
  
              
              <p class="forms-heading new-heading-nestimate">Personal Details</p>
            </mat-card-title>
            <p class="forms-star new-heading-nestimate">*required</p>
         
    
            <label class="new-heading-nestimate">Title*</label><br>
              <mat-form-field>
                <mat-select name="title" [(ngModel)]="user.title" class="drop-down-list">
                  <mat-option value="Mr">Mr</mat-option>
                  <mat-option value="Ms">Ms</mat-option>
                  <mat-option value="Mrs">Mrs</mat-option>
                </mat-select>
              </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Full Name" required
                name="Name" class="mat-mail-input"   [(ngModel)]="user.Name">
            </mat-form-field>
  
  
            <mat-form-field class="example-full-width">
  
              <input matInput  placeholder="Email Address*" 
               name="Email" class="mat-mail-input"   [(ngModel)]="user.email" [formControl]="emailFormControl" >
          
               <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
          
          
          
          
              </mat-form-field>
  
  
  
  
            <!--Date Of Birth Field-->
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY*" name="DOB"
                class="mat-mail-input"  value="DOB"    [(ngModel)]="user.DOB">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
           
            </mat-form-field>
            <!--Date Of Birth Field End-->
  
  
            <!--Phone Number field-->
            <mat-form-field class="example-full-width">
              <span matPrefix>+44 &nbsp;</span>
              <input matInput placeholder="Phone Number" name="phonenumber" class="mat-mail-input"   [(ngModel)]="user.Phone" type=”tel”  [formControl]="phoneFormControl" maxlength="10">
              <mat-error *ngIf="phoneFormControl.hasError('phonenumber') && !phoneFormControl.hasError('required')">
                Please enter a valid Phone Number
              </mat-error>
              <mat-error *ngIf="phoneFormControl.hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="phoneFormControl.hasError('pattern')">
                Phone Number is <strong>not valid</strong>
            
              </mat-error>
            </mat-form-field>
           
            <!--Phone Number field-->
      
            <mat-form-field class="example-full-width">
              <mat-label>Your Buying Position*</mat-label>
              <mat-select name="ChainStatus" [(ngModel)]="listingBuyer.ChainStatus" value="ChainStatus"
                class="example-full-width">
                <mat-option value="First Time Buyer" (click)="otherOption()">First Time Buyer</mat-option>
                <mat-option value="In Chain" (click)="otherOption()">In Chain</mat-option>
                <mat-option value="Cash Buyer" (click)="otherOption()">Cash Buyer</mat-option>
                <mat-option value="Other (Please specify)" (click)="otherChain()">Other (Please specify)</mat-option>
              </mat-select>
              
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="other">
            <input matInput placeholder="other" name="other" class="mat-mail-input"   >
            </mat-form-field>
         
          </mat-card>
          <mat-card class="card-margin background-new-form">
            <label class="new-heading-nestimate">Your Address</label>
           
  
            <p class="new-heading-nestimate">Area - Search by Postcode</p>
  
            <mat-option class="postcode-background" style="background-color: #F5F5F5;">
              <input [formControl]="autoCompleteControlCurrent" type="text" placeholder="Enter Postcode"
                aria-label="Post-Code" matInput [matAutocomplete]="auto" [(ngModel)]="listingBuyer.Currentpostcode">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)='getPost($event.option.value)'>
                <mat-option *ngFor="let item of addressianAutoCompleteCurrent$ | async; let index=index" [value]="item">
                  <span *ngFor="let i of item.address">{{i}} </span> | <span>{{ item.postcode | titlecase}}
                  </span> | <span>{{ item.citytown | titlecase}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-option>
  
           
  
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Town/City" [(ngModel)]="listingBuyer.CurrentTown" name="CurrentTowncity"
                class="mat-mail-input">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Full Address" [formControl]="AddressFormControl" name="CurrentAddress"
                class="mat-mail-input" [(ngModel)]="listingBuyer.CurrentAddress">
              <mat-error *ngIf="AddressFormControl.hasError('Address') && !AddressFormControl.hasError('required')">
                Please enter a valid address
              </mat-error>
              <mat-error *ngIf="AddressFormControl.hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <input matInput placeholder="County" required [(ngModel)]="listingBuyer.Currentstate" name="state"
                class="mat-mail-input">
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Country" required  name="state"
                class="mat-mail-input" [(ngModel)]="listingBuyer.Currentcountry" name="country">
            </mat-form-field>
  
          </mat-card>
          <div class="button-next">
            <a (click)="selectTab(1, 0)" class=" btn btn-primary btnNext btn-next">Next</a>
          </div>
  
        </div>
  
      </mat-tab>
  
      <mat-tab label="Property Details" class="tabs-align-padding">
        <div class="tabs-align-padding">
  
       
  
          <mat-card class="card-margin background-new-form">
            <mat-card-title class="mat_card_title new-heading-nestimate">are you looking to</mat-card-title>
            <mat-radio-group aria-label="Select an option" class="radio-top-buyer">
              <mat-radio-button value="buy">buy</mat-radio-button>
              <mat-radio-button value="rent">rent</mat-radio-button>
            </mat-radio-group>
            <mat-card-title class="mat_card_title new-heading-nestimate">Please fill in the details of your desired property</mat-card-title>
            <p class="mt-4 new-heading-nestimate">Area - Search by Postcode</p>
            <mat-option style="background-color: #F5F5F5;">
              <input [formControl]="autoCompleteControlLooking" type="text" placeholder="Enter Postcode"
                aria-label="Post Code" matInput [matAutocomplete]="autolooking"
                [(ngModel)]="listingBuyer.Lookingpostcode" name="Lookingpostcode">
              <mat-autocomplete autoActivesecondOption #autolooking="matAutocomplete"
                (optionSelected)='getPosts($event.option.value)'>
                <mat-option *ngFor="let item of addressianAutoCompleteLooking$ | async; let index=index" [value]="item">
                  <span *ngFor="let i of item.address">{{i}} </span> | <span>{{ item.postcode | titlecase}}
                  </span> | <span>{{ item.citytown | titlecase}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-option>
  
  
  
            <p class="mt-4" class="new-heading-nestimate">Area - Search by Address</p>
            <mat-form-field class="example-full-width mb-3">
              <input matInput placeholder="Street Name" class="mat-mail-input" [(ngModel)]="listingBuyer.LookingStreetname" name="LookingStreetname">
            </mat-form-field>
  
  
            <mat-form-field class="example-full-width mb-3">
              <input matInput placeholder="Town/City" [formControl]="TownFormControl" [(ngModel)]="listingBuyer.LookingTown" name="LookingTown" class="mat-mail-input">
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <input matInput placeholder="County" [formControl]="stateFormControl" required  [(ngModel)]="listingBuyer.Lookingstate" name="Lookingstate" class="mat-mail-input">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Country" [formControl]="stateFormControl" required  [(ngModel)]="listingBuyer.Country" name="Country" class="mat-mail-input">
            </mat-form-field>
          </mat-card>
  
  
  
  
  
          <mat-card class="card-margin background-new-form">
            <div id="finanacial">
              <label class="new-heading-nestimate">Financial Position*</label><br>
              <mat-form-field class="example-full-width">
                <mat-select name="FinancialPosition" [(ngModel)]="listingBuyer.FinancialPosition"
                  value="FinancialPosition" class="example-full-width">
                  <mat-option value="Mortgate to be arranged" name="Mortgate to be arranged" (click)="removefinancialPostion()">Mortgate to be arranged</mat-option>
                  <mat-option value="Mortgage arranged" name="Mortgage arranged " (click)="removefinancialPostion()">Mortgage arranged </mat-option>
                  <mat-option value="Cash Buyer" name="Cash Buyer" (click)="removefinancialPostion()">Cash Buyer</mat-option>
                  <mat-option value="Please specify" name="Please specify" (click)="financialPostion()">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        
  
  
          <mat-form-field class="example-full-width" *ngIf="finanacial">
          <input matInput placeholder="other" name="other" class="mat-mail-input"   >
          </mat-form-field>
  
          <label class="new-heading-nestimate">Search Radius (Miles)</label><br>
            <mat-form-field class="example-full-width">
              <mat-select [(ngModel)]="listingBuyer.SearchRadius" name="SearchRadius" value="SearchRadius"
                class="example-full-width">
                <mat-option value="This postcode only">This postcode only</mat-option>
                <mat-option value="0.25">Within ¼ mile</mat-option>
                <mat-option value="0.5">Within ½ mile</mat-option>
                <mat-option value="1.0">Within 1 mile</mat-option>
                <mat-option value="3.0">Within 3 miles</mat-option>
                <mat-option value="5.0">Within 5 miles</mat-option>
                <mat-option value="10.0">Within 10 miles</mat-option>
                <mat-option value="15.0">Within 15 miles</mat-option>
                <mat-option value="20.0">Within 20 miles</mat-option>
                <mat-option value="30.0">Within 30 miles</mat-option>
                <mat-option value="40.0">Within 40 miles</mat-option>
              </mat-select>
            </mat-form-field>
  
            <div id="Property-type">
              <label class="new-heading-nestimate">Property Type</label><br>
              <mat-form-field class="example-full-width">
                <mat-select name="Propertytype" [(ngModel)]="listingBuyer.PropertyType" value="Propertytype"
                  class="example-full-width">
                  <mat-option value="Flat">Flat</mat-option>
                  <mat-option value="Studio">Studio</mat-option>
                  <mat-option value="Terracedhouse">Terraced house</mat-option>
                  <mat-option class="example-margin" value="Maisonette">Maisonette</mat-option>
                  <mat-option value="Semi-detached">Semi-detached house</mat-option>
                  <mat-option value="Bungalow">Bungalow</mat-option>
                  <mat-option value="Detachedhouse">Detached house</mat-option>
                  <mat-option value="Cottage">Cottage</mat-option>
                  <mat-option value="Townhouse">Town house</mat-option>
                  <mat-option value="Countryhouse">Country house</mat-option>
                  <mat-option value="Barnconversion">Barn conversion</mat-option>
                  <mat-option value="Farm">Farm</mat-option>
                  <mat-option value="Houseboat">Houseboat</mat-option>
                  <mat-option value="Lodge">Lodge</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
  
   <!--Min Max Amount-->
   <label class="new-heading-nestimate">Number of Rooms</label>
   <div class="price-selection">
     <mat-form-field class="filed-width" >
       <mat-label>Min  Rooms</mat-label>
       <mat-select [(value)]="Roommin" name="Roommin" [(ngModel)]="listingBuyer.Roommin">
        <mat-option value="Studio">Studio</mat-option>
         <mat-option value="1">1</mat-option>
         <mat-option value="2">2</mat-option>
         <mat-option value="3">3</mat-option>
         <mat-option value="4">4</mat-option>
         <mat-option value="5">5</mat-option>
       </mat-select>
     </mat-form-field>
     <mat-form-field class="filed-width">
       <mat-label>Max  Rooms</mat-label>
       <mat-select [(value)]="Roomsmax" name="Roomsmax" [(ngModel)]="listingBuyer.Roomsmax">
         <mat-option value="Studio">Studio</mat-option>
         <mat-option value="1">1</mat-option>
         <mat-option value="2">2</mat-option>
         <mat-option value="3">3</mat-option>
         <mat-option value="4">4</mat-option>
         <mat-option value="5">5</mat-option>
       </mat-select>
     </mat-form-field>
   </div>
  <!--Max-No of Rooms-->
  
  
  
  
  
  
  
  
            <!--Min Max Amount-->
            <label class="heading-nestimate">Price Range</label>
            <div class="price-selection">
              <mat-form-field class="filed-width">
                <mat-label>MinAmount</mat-label>
                <mat-select [(value)]="min" name="MinAmount" [(ngModel)]="listingBuyer.MinAmount">
                  <mat-option value="50,000">50,000</mat-option>
                  <mat-option value="60,000">60,000</mat-option>
                  <mat-option value="70,000">70,000</mat-option>
                  <mat-option value="80,000">80,000</mat-option>
                  <mat-option value="90,000">90,000</mat-option>
                  <mat-option value="100,000">100,000</mat-option>
                  <mat-option value="110,000">110,000</mat-option>
                  <mat-option value="120,000">120,000</mat-option>
                  <mat-option value="125,000">125,000</mat-option>
                  <mat-option value="130,000">130,000</mat-option>
                  <mat-option value="140,000">140,000</mat-option>
                  <mat-option value="150,000">150,000</mat-option>
                  <mat-option value="160,000">160,000</mat-option>
                  <mat-option value="170,000">170,000</mat-option>
                  <mat-option value="175,000">175,000</mat-option>
                  <mat-option value="180,000">180,000</mat-option>
                  <mat-option value="190,000">190,000</mat-option>
                  <mat-option value="200,000">200,000</mat-option>
                  <mat-option value="210,000">210,000</mat-option>
                  <mat-option value="220,000">220,000</mat-option>
                  <mat-option value="230,000">230,000</mat-option>
                  <mat-option value="240,000">240,000</mat-option>
                  <mat-option value="250,000">250,000</mat-option>
                  <mat-option value="260,000">260,000</mat-option>
                  <mat-option value="270,000">270,000</mat-option>
                  <mat-option value="280,000">280,000</mat-option>
                  <mat-option value="290,000">290,000</mat-option>
                  <mat-option value="300,000">300,000</mat-option>
                  <mat-option value="325,000">325,000</mat-option>
                  <mat-option value="350,000">350,000</mat-option>
                  <mat-option value="375000">375,000</mat-option>
                  <mat-option value="400,000">400,000</mat-option>
                  <mat-option value="425,000">425,000</mat-option>
                  <mat-option value="450,000">450,000</mat-option>
                  <mat-option value="475,000">475,000</mat-option>
                  <mat-option value="500,000">500,000</mat-option>
                  <mat-option value="525,000">525,000</mat-option>
                  <mat-option value="550,000">550,000</mat-option>
                  <mat-option value="575,000">575,000</mat-option>
                  <mat-option value="600,000">600,000</mat-option>
                  <mat-option value="625,000">625,000</mat-option>
                  <mat-option value="650,000">650,000</mat-option>
                  <mat-option value="675,000">675,000</mat-option>
                  <mat-option value="700,000">700,000</mat-option>
                  <mat-option value="725,000">725,000</mat-option>
                  <mat-option value="750,000">750,000</mat-option>
                  <mat-option value="775,000">775,000</mat-option>
                  <mat-option value="800,000">800,000</mat-option>
                  <mat-option value="825,000">825,000</mat-option>
                  <mat-option value="850,000">850,000</mat-option>
                  <mat-option value="875,000">875,000</mat-option>
                  <mat-option value="900,000">900,000</mat-option>
                  <mat-option value="925,000">925,000</mat-option>
                  <mat-option value="950,000">950,000</mat-option>
                  <mat-option value="975,000">975,000</mat-option>
                  <mat-option value="1,000,000">1,000,000</mat-option>
                  <mat-option value="1,250,000">1,250,000</mat-option>
                  <mat-option value="1,500,000">1,500,000</mat-option>
                  <mat-option value="1,750,000">1,750,000</mat-option>
                  <mat-option value="2,000,000">2,000,000</mat-option>
                  <mat-option value="2,250,000">2,250,000</mat-option>
                  <mat-option value="2,500,000">2,500,000</mat-option>
                  <mat-option value="30,00,000">3,000,000</mat-option>
                  <mat-option value="40,00,000">4,000,000</mat-option>
                  <mat-option value="50,00,000">5,000,000</mat-option>
                  <mat-option value="60,00,000">6,000,000</mat-option>
                  <mat-option value="70,00,000">7,000,000</mat-option>
                  <mat-option value="80,00,000">8,000,000</mat-option>
                  <mat-option value="10,000,000">10,000,000</mat-option>
                  <mat-option value="15,000,000">15,000,000</mat-option>
                  <mat-option value="20,000,000">20,000,000</mat-option>
  
                </mat-select>
              </mat-form-field>
              <mat-form-field class="filed-width">
                <mat-label>MaxAmount</mat-label>
                <mat-select [(value)]="max" name="MaxAmount" [(ngModel)]="listingBuyer.MaxAmount">
                  <mat-option value="50,000">50,000</mat-option>
                  <mat-option value="60,000">60,000</mat-option>
                  <mat-option value="70,000">70,000</mat-option>
                  <mat-option value="80,000">80,000</mat-option>
                  <mat-option value="90,000">90,000</mat-option>
                  <mat-option value="100,000">100,000</mat-option>
                  <mat-option value="110,000">110,000</mat-option>
                  <mat-option value="120,000">120,000</mat-option>
                  <mat-option value="125,000">125,000</mat-option>
                  <mat-option value="130,000">130,000</mat-option>
                  <mat-option value="140,000">140,000</mat-option>
                  <mat-option value="150,000">150,000</mat-option>
                  <mat-option value="160,000">160,000</mat-option>
                  <mat-option value="170,000">170,000</mat-option>
                  <mat-option value="175,000">175,000</mat-option>
                  <mat-option value="180,000">180,000</mat-option>
                  <mat-option value="190,000">190,000</mat-option>
                  <mat-option value="200,000">200,000</mat-option>
                  <mat-option value="210,000">210,000</mat-option>
                  <mat-option value="220,000">220,000</mat-option>
                  <mat-option value="230,000">230,000</mat-option>
                  <mat-option value="240,000">240,000</mat-option>
                  <mat-option value="250,000">250,000</mat-option>
                  <mat-option value="260,000">260,000</mat-option>
                  <mat-option value="270,000">270,000</mat-option>
                  <mat-option value="280,000">280,000</mat-option>
                  <mat-option value="290,000">290,000</mat-option>
                  <mat-option value="300,000">300,000</mat-option>
                  <mat-option value="325,000">325,000</mat-option>
                  <mat-option value="350,000">350,000</mat-option>
                  <mat-option value="375000">375,000</mat-option>
                  <mat-option value="400,000">400,000</mat-option>
                  <mat-option value="425,000">425,000</mat-option>
                  <mat-option value="450,000">450,000</mat-option>
                  <mat-option value="475,000">475,000</mat-option>
                  <mat-option value="500,000">500,000</mat-option>
                  <mat-option value="525,000">525,000</mat-option>
                  <mat-option value="550,000">550,000</mat-option>
                  <mat-option value="575,000">575,000</mat-option>
                  <mat-option value="600,000">600,000</mat-option>
                  <mat-option value="625,000">625,000</mat-option>
                  <mat-option value="650,000">650,000</mat-option>
                  <mat-option value="675,000">675,000</mat-option>
                  <mat-option value="700,000">700,000</mat-option>
                  <mat-option value="725,000">725,000</mat-option>
                  <mat-option value="750,000">750,000</mat-option>
                  <mat-option value="775,000">775,000</mat-option>
                  <mat-option value="800,000">800,000</mat-option>
                  <mat-option value="825,000">825,000</mat-option>
                  <mat-option value="850,000">850,000</mat-option>
                  <mat-option value="875,000">875,000</mat-option>
                  <mat-option value="900,000">900,000</mat-option>
                  <mat-option value="925,000">925,000</mat-option>
                  <mat-option value="950,000">950,000</mat-option>
                  <mat-option value="975,000">975,000</mat-option>
                  <mat-option value="1,000,000">1,000,000</mat-option>
                  <mat-option value="1,250,000">1,250,000</mat-option>
                  <mat-option value="1,500,000">1,500,000</mat-option>
                  <mat-option value="1,750,000">1,750,000</mat-option>
                  <mat-option value="2,000,000">2,000,000</mat-option>
                  <mat-option value="2,250,000">2,250,000</mat-option>
                  <mat-option value="2,500,000">2,500,000</mat-option>
                  <mat-option value="30,00,000">3,000,000</mat-option>
                  <mat-option value="40,00,000">4,000,000</mat-option>
                  <mat-option value="50,00,000">5,000,000</mat-option>
                  <mat-option value="60,00,000">6,000,000</mat-option>
                  <mat-option value="70,00,000">7,000,000</mat-option>
                  <mat-option value="80,00,000">8,000,000</mat-option>
                  <mat-option value="10,000,000">10,000,000</mat-option>
                  <mat-option value="15,000,000">15,000,000</mat-option>
                  <mat-option value="20,000,000">20,000,000</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--Min Max Amount End-->
  
  
            <!--Offer validity Group-->
  
            <mat-radio-group aria-label="Select an option" id="name " name="Validity" [(ngModel)]="listingBuyer.Validity"
              value="Validity">
              <label class="new-heading-nestimate">How long should your Nestimate be active?</label><br>
              <div class="radio-button-align">
                <mat-radio-button value="1" class="mr-2">1 Month</mat-radio-button>
                <mat-radio-button value="3">3 Months</mat-radio-button>
                <mat-radio-button value="6">6 Months</mat-radio-button>
                <mat-radio-button value="Indefinite">Indefinite
                </mat-radio-button>
              </div>
            </mat-radio-group>
            <p class="Label-notes new-heading-nestimate">*Note:Your Nestimate will remain active for the selected time period above</p>
            <!--Offer validity Group End-->
            
  
  
  
  
  
  
          </mat-card>
  
          <mat-card class="card-margin background-new-form">
            <label class="new-heading-nestimate">Optional Details</label><br>
   <!--No of Bathrooms-->
   <label class="new-heading-nestimate">No of Bathrooms</label>
   <div class="price-selection">
     <mat-form-field class="filed-width" >
       <mat-label>Min</mat-label>
       <mat-select [(value)]="Minbathroom" name="Minbathroom" [(ngModel)]="listingBuyer.Minbathroom">
        <mat-option value="1">1</mat-option>
         <mat-option value="2">2</mat-option>
         <mat-option value="3 or more">3 or more</mat-option>
       </mat-select>
     </mat-form-field>
     <mat-form-field class="filed-width">
       <mat-label>Max</mat-label>
       <mat-select [(value)]="Maxbathroom" name="Maxbathroom" [(ngModel)]="listingBuyer.Maxbathroom">
         <mat-option value="1">1</mat-option>
         <mat-option value="2">2</mat-option>
         <mat-option value="3 or more">3 or more</mat-option>
       </mat-select>
     </mat-form-field>
   </div>
        
  
  
  
    <!--No of reception-->
    <label class="new-heading-nestimate">No of Reception Rooms</label>
    <div class="price-selection">
      <mat-form-field class="filed-width" >
        <mat-label>Min</mat-label>
        <mat-select [(value)]="Minreception" name="Minreception" [(ngModel)]="listingBuyer.Minreception">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3 or more">3 or more</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filed-width">
        <mat-label>Max</mat-label>
        <mat-select [(value)]="Maxreception" name="Maxreception" [(ngModel)]="listingBuyer.Maxreception">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3 or more">3 or more</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <label class="new-heading-nestimate">Property Condition</label>
          <mat-form-field class="example-full-width">
        
            <mat-select [(value)]="Conditions" name="Conditions" [(ngModel)]="listingBuyer.Conditions">
              <mat-option value="New Build">New Build</mat-option>
              <mat-option value="Needs Modernisation">Needs Modernisation</mat-option>
            </mat-select>
          </mat-form-field>
  
          <label class="new-heading-nestimate">Ownership</label>
            <mat-form-field class="example-full-width">
              <mat-select name="Ownership" [(ngModel)]="listingBuyer.Ownership" value="Ownership"
                class="example-full-width">
                <mat-option value="Leasehold">Leasehold</mat-option>
                <mat-option value="Freehold">Freehold</mat-option>
                <mat-option value="Share of Freehold">Share of Freehold</mat-option>
              </mat-select>
            </mat-form-field>
  <label class="new-heading-nestimate">Property Features</label>
            <mat-form-field class="example-full-width">
              <mat-select  [formControl]="Condition" multiple
                [(ngModel)]="listingBuyer.features" #sl class="mat-select-edit mat-check">
    
                <div class="select-constion">
                  <img src="../../../../assets/Images/cross.png" class="button-cross" (click)="sl.close()">
                </div>
                <mat-option *ngFor="let Conditions of ConditionsList" [value]="Conditions" class="mat-check">{{Conditions}}</mat-option>
    
              </mat-select>
            </mat-form-field>
  
  
          </mat-card>
  
  
          <div class="button-next-tab2">
            <a (click)="selectTab(0, 1)" class="btn  btnPrevious btn-next">Previous</a>
            <a (click)="onSubmit()" class="btn btn-primary btnNext btn-next">Submit</a>
          </div>
        </div>
      </mat-tab>
  
    </mat-tab-group>
  </form>
  
  