<div class="my-requirement-container container">
  <p class="my-requirement-heading heading-nestimate">
    My Nestimates
  </p>

  <mat-tab-group>
    <mat-tab label="To Buy" class="mat-label-align" *ngIf="propertyRequirementDetails.length > 0">
      <div class="mat-card-content-new" *ngFor="let requirement of propertyRequirementDetails" >
        <mat-card class="mat-card">
          <div class="mat-card-content-new-content">
            <div class="mat-card-content-image">
              <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
            </div>
            <div class="mat-card-content-text">
              <div class="price-range">
                <span class="heading-nestimate">Their Price Range</span> <br>
                <span class="outputText price-font">&pound;{{requirement.MinAmount}}     -     	&pound;{{requirement.MaxAmount}}</span>
              </div>
              <div class="other-text">
                <p class="heading-nestimate">Search SearchRadius:<span
                    class="outputText">{{requirement.SearchRadius}}</span></p>&nbsp; &nbsp;
                <p class="heading-nestimate">Poperty Type:<span
                    class="outputText">{{requirement.PropertyType}}</span></p>
              </div>
              <div class="button-container">
                <button type="button" class="btn btn-primary" routerLink="/EditListingBuyer/{{requirement.Currentpostcode}}
                /{{requirement.CurrentTown}}
                /{{requirement.CurrentAddress}}
                /{{requirement.Currentstate}}
                /{{requirement.Currentcountry}}
                /{{requirement.Lookingpostcode}}
                /{{requirement.LookingStreetname}}
                /{{requirement.LookingTown}}
                /{{requirement.Lookingstate}}
                /{{requirement.Country}}
                /{{requirement.FinancialPosition}}
                /{{requirement.SearchRadius}}
                /{{requirement.PropertyType}}
                /{{requirement.Roommin}}
                /{{requirement.Roomsmax}}
                /{{requirement.MinAmount}}
                /{{requirement.MaxAmount}}
                /{{requirement.Validity}}
                /{{requirement.Minbathroom}}
                /{{requirement.Maxbathroom}}
                /{{requirement.Minreception}}
                /{{requirement.Maxreception}}
                /{{requirement.Conditions}}
                /{{requirement.Ownership}}
                /{{requirement.features}}
                /{{docid}}">Edit</button>
                <button type="button" class="btn btn-primary" routerLink="/buyerMatchlisting/{{requirement.Lookingpostcode}}/{{requirement.PropertyType}}/{{requirement.LookingTown}}/{{requirement.MinAmount}}/{{requirement.MaxAmount}}/{{requirement.latitude}}/{{requirement.longitude}}/{{newUser}}">Potential</button>
                <button type="button" class="btn btn-primary" routerLink="/listingpropertydetail/{{requirement.MinAmount}}/{{requirement.MaxAmount}}/{{requirement.Lookingpostcode}}/{{requirement.ChainStatus}}/{{requirement.FinancialPosition}}/{{requirement.PropertyType}}/{{requirement.Position}}/{{requirement.SearchRadius}}/{{requirement.MaxAmount}}">See Details</button>
                
              </div>
            </div>
          </div>
        </mat-card>
      </div>





    </mat-tab>
    <mat-tab label="To Sell" class="mat-label-align" *ngIf="propertyDetails.length > 0">
      
      <div class="mat-card-content-new"  *ngFor="let property of propertyDetails"  >
        <mat-card class="mat-card">
          <div class="mat-card-content-new-content">
            <div class="mat-card-content-image">
              <img src="../../../../../../assets/Images/sidelogo.png" class="match-images">
            </div>
            <div class="mat-card-content-text">
              <div class="price-range">
                <span class="heading-nestimate">Desired</span> <br>
                <span class="outputText price-font">&pound;{{property.MaxAmount}}</span>
              </div>
              <div class="other-text">
                <p class="heading-nestimate overflow-setting">Postcode:<span
                    class="outputText">{{property.Lookingpostcode}}</span></p>&nbsp; &nbsp;
                <p class="heading-nestimate overflow-setting">Poperty Type:<span
                    class="outputText">{{property.PropertyType}}</span></p>
              </div>
              <div class="button-container">
                <button type="button" class="btn btn-primary" routerLink="/editListingSeller/{{property.Lookingpostcode}}/{{property.LookingAddress}}/{{property.LookingTown}}/{{property.Lookingstate}}/{{property.PropertyType}}/{{property.Maxrooms}}/{{property.MaxAmount}}/{{property.ownership}}/{{property.Maxbathrooms}}/{{property.Maxreception}}/{{property.PropertyCondition}}/{{property.features}}/{{property.Country}}">Edit</button>
                <button type="button" class="btn btn-primary" routerLink="/sellerMatchlisting/{{property.Lookingpostcode}}/{{property.PropertyType}}/{{property.LookingTown}}/{{property.MaxAmount}}/{{property.latitude}}/{{property.longitude}}/{{newUser}}">Potential</button>
                <button type="button" class="btn btn-primary" routerLink="/listingsellerpropertydetail/{{property.MaxAmount}}/{{property.PropertyType}}/{{property.Lookingpostcode}}/{{property.Maxrooms}}/{{property.Maxreception}}/{{property.PropertyCondition}}/{{property.Maxbathrooms}}">See Details</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>



   
    
    
    
    </mat-tab>
  
  </mat-tab-group>

</div>
