<div class="container p-0">
    <div class="footer">
<div class="image-social">
<img src="/assets/Images/facebook.png"  class="facebook-icon">
<img src="/assets/Images/twitter.png" class="twitter-icon" >
<img src="/assets/Images/instagram.png" class="instagram-icon">
</div>
    <div class="privacy-policy">
   <p class="peivacy-policy-heading heading-nestimate" routerLink="/PrivacyPolicy">Privacy Policy</p>
   <p class="peivacy-policy-heading heading-nestimate" routerLink="/terms">Terms & Condition</p>

   
    </div>
    </div>



</div>