<div *ngIf="isBuyerSelected" class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  
    
  <div class="property-selected-detail-background">
    <div class="container property-detail-container">
      <!-- <h3 class="property-detail-h3 heading-nestimate">{{title}} {{unNamed | shortName}}</h3> -->
      <div class="wrapper-detail-container">
        <div id="demo">
          <img  src="assets/Images/single-nestimate.jpg" class="match-images">
        </div>
    
    
        <div class="streetname">

          <mat-card class="Mat-card-div">
            <mat-card-title class="details-p-headings heading-nestimate">Price Range</mat-card-title>
            <mat-card-subtitle class="details-output-p paragraph-color">&pound;{{MinAmount}}-&pound;{{MaxAmount}}</mat-card-subtitle>
          </mat-card>

          <mat-card class="Mat-card-div">
            <mat-card-title class="details-p-headings heading-nestimate">Pincode</mat-card-title>
            <mat-card-subtitle class="details-output-p paragraph-color">{{Lookingpostcode}}</mat-card-subtitle>
          </mat-card>
          
          
        <mat-card class="Mat-card-div">
          <mat-card-title class="details-p-headings heading-nestimate">ChainStatus</mat-card-title>
          <mat-card-subtitle class="details-output-p outputText">{{ChainStatus}}</mat-card-subtitle>
        </mat-card>
        <mat-card class="Mat-card-div">
          <mat-card-title class="details-p-headings heading-nestimate">FinancialPosition</mat-card-title>
          <mat-card-subtitle class="details-output-p outputText">{{FinancialPosition}}</mat-card-subtitle>
        </mat-card>
        <mat-card class="Mat-card-div">
          <mat-card-title class="details-p-headings heading-nestimate">Type</mat-card-title>
          <mat-card-subtitle class="details-output-p outputText">{{Type}}</mat-card-subtitle>
        </mat-card>
  
        <mat-card class="Mat-card-div">
          <mat-card-title class="details-p-headings heading-nestimate">Position</mat-card-title>
          <mat-card-subtitle class="details-output-p outputText">{{Position}}</mat-card-subtitle>
        </mat-card>
      
    
    
    
        </div>
        <div class="selected-button m-3">
          <button mat-raised-button color="primary" (click)="backClicked()">Back</button>
        </div>
      </div>
    </div>
    
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  