.full-width
{
    width: 100%;
}

.file-upload {
    display: flex;
    justify-content: space-between;
}
.mat-card-item {

    background-color:var(--DARK-BLUE-COLOR) ; 
    margin: 1em;
}
.heading-signup
{
    color: white;

}
.submit-button {
    display: flex;
    justify-content: center;
    margin: 1em 0em;
}
.agent-form-heading.heading-nestimate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: 20px;
}

