.grid-item {
    height: 100vh;
    z-index: 1;
    background-color: white;
}
.notification {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 1em 0em;
}

img.icon {
    width: 40%;
    text-align: center;
}
.notification-icon {
    display: flex;
    justify-content: center;
}